*{
	margin: 0;
	box-sizing: border-box;
}
body {
	  font-family: Arial, Helvetica, sans-serif;
	  background: black;
	  user-select: none;
	  /* Animating the entire website when loaded to move from low into bright lightening. */
	  animation: popOut;
	  animation-duration: 5s;
	  -moz-animation: popOut;
	  -moz-animation-duration: 5s;
	  -webkit-animation: popOut;
	  -webkit-animation-duration: 5s;
	}

/* Firefox browser */
@-moz-keyframes popOut {
  0% {
    opacity: 0.2;
  }
 
  100% {
    opacity: 1;
  }
}

/* Safari, IOS and Chrome browsers */
@-webkit-keyframes popOut {
  0% {
    opacity: 0.2;
  }
 
  100% {
    opacity: 1;
  }
}

@keyframes popOut {
  0% {
    opacity: 0.2;
  }
 
  100% {
    opacity: 1;
  }
}

/*Style the box inside the body element that contains all content. */
.container {
  border-radius: 5px;
  background: white;
}

.header{	
	overflow: hidden;
	height: 250px;
	width: 100%;
	background: black;
	border-radius: 29px 29px 0 0; /* create rounded corners on the top two corners only. */
	box-shadow: 0 -50px 6px red;
}

.header img{
	margin: 0 3% 0 0;
	width: 100%;
	height: 250px;
}

div.navigation{
	width: 100%;
	overflow: hidden;
	border-radius: 0 0 6px 6px;
	background: rgb(0,34,102);
}

.navigation h1{
	float: left; /* keeps the element on left where rest of navigation links could placed on right. */
	bottom: 0;
	width: 20%;
	text-align: center; /* Center the text content into the center. */
	color: rgb(255,255,254, 0.7); /* apply red, green and blue code colors with capacity of 0.7*/
	font-family: "Duplexide";
	font-weight: bold;
	border-right: 2px solid grey; /* create a solid grey colored line on the right side of h1. */
	height: 43px;
}

div nav ul{
	margin: 0;
	padding:0;
}

div nav ul li{
	list-style-type: none; /* removes the bullet points from the list into nothing. */
	margin:0;
	padding: 0;
}

/*Properties for the naviagtion links. */
.links{
	float: left;
	display: inline-block;
	text-decoration: none; /* remvoes the underline from the links. */
	color: rgb(255,255,255);
	text-align: center;
	padding: 10px 0;
	position: relative;
	letter-spacing: 3px;
	font-weight: 100;
	width: 20%;
	text-transform: capitalize;
	background-color: rgb(0,34,102);
	border-radius: 3px 0 0 3px;
	font-size: 20px;
	font-family: "Candara", Arial !important; /* These font styles would override the pre-defined font styles. */
	text-transform: uppercase;
}

.links::before{
	content: ' ';
	width: 100%;
	height: 0px;
	background: #004c99;
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
	border-radius: 10px;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
}

.links::after{
	content: ' ';
	width: 100%;
	height: 0;
	background: #004c99;
	position: absolute;
	bottom: 0%;
	left: 0%;
	right: 0%;
	border-radius: 10px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
}

.links:hover::before{
	height: 6px; /* assign the height of before content into 6px so it can be visible. */
}

.links:hover::after{
	height: 6px;
}

.links:hover{
	color: black;
	font-weight: 600;
	background: #ddd;
	animation-name: border_ani;
	animation-duration: 4s; /* set how long this animation should take to complete. */
	-webkit-animation-name: border_ani;
	-webkit-animation-duration: 4s;
	-moz-animation-name: border_ani;
	-moz-animation-duration: 4s;
}

.links:active{
	color: #003300;
}

abbr{
	color: blue;
	font-weight: normal;
}

abbr:hover{
	color: red;
}

/*----------------------------------------------------------------------------*/
/* Column container */
#content {  
  display: flex;
  flex-wrap: wrap;
  top: 0;
  border-top: 2px solid #aaa;
}

/* Create two unequal columns that placed next to each other */

/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: rgba(19, 20, 21, 0.87);
  padding: 18px;
  color: white;
}

.miniMap{
   height:200px;
   width: 100%;
   margin-top: 20px;
   box-shadow: 1px 1px 10px red;
}

.personal-image {
  padding: 5px 35px;
  height:200px;
  width: 100%;
  border-radius: 30%;
}


.About-me{
	position: sticky;
	top: 10px;
}

.About-me h2{
	margin-bottom: 10px;
	text-align: center;
}

.About-me div {
	width: 100%;
	background: none;
	margin-bottom: 5px;
	margin-top: 5px;
}

.About-me p {
	border-bottom: 1px solid black;
	padding: 8px 20px;
	text-align: center;
}

.main , #third{   
  flex: 40%; /* divide the remaining 80% into main and third sections. */
  background-color: rgb(224, 224, 235);
  padding: 16px;
  margin-bottom: 10px;
}

.images {
  background-color: #aaa;
  width: 100%;
  padding: 1px;
  height:200px;
  margin-bottom: 7px;
  border-radius: 5px;
}

.blog_window {
	margin-top: 5px;
	padding: 15px 10px 20px 10px;
	border-bottom: 4px solid #6DC7D0;
	border-top: 8px solid #6DC7D0;
	background-color: rgb(230,242,255);
	border-radius: 20px;
	height: 358px; 
}

.blog_window h4{
	font-style: normal;
	text-decoration: underline;
}

.blog_window h2{
	color: red;
	text-align: center;
}

.blog_window a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.blog_window:hover{
	transform: skewX(1deg);
	box-shadow: -6px -6px 16px grey;
}

/* This block of code would be executed whenever the screen size has reached less or 1075px. */
@media screen and (max-width: 1075px) {
	.side ,.side_subpage{
	  display: none; /* Vanish the side section from appearnace. */
	}
  
	.navigation h1{
	  font-size: 22px;
	  padding: 5px 0;
	}
  
	/* Excel page settings, properties that control the images appearance. */
	.content_subpage3 img{
	float: left !important;
	clear: right !important; /* Ensure that there are no elemetns on the right side. */
	width: 60% !important;
	margin: 0 10%;
	height: 200px !important;
	}
	
	/* Compomemts page, the main section settings. */
	.main_subpage_sub2{
	padding: 15px 10% !important;
	}

	.anim_box3{
	width: 80% !important;
	margin: 3% 10% !important;
	font-size: 1.2em !important;
	clear: right !important;
	}
	
	/* Project Tool page, main header. */
	.page_header h1{
	font-size: 25px;
	}
	
	.main_subpage8 p{
	margin: 20px 17% 0 17% !important;
	font-size: 16pt !important;
	}

	.main_subpage8 img{
	width: 65% !important;
	}

	/* Find Us page, contact form. */
	form{
	margin: 0 26% !important;
	}

}

/* This block of code would be executed whenever the screen size has reached less or 800px. */
@media screen and (max-width: 800px) {
	#content {   
    flex-direction: column; /* Chnage the flex position from rows into column format. */
	}
	
	/* Index page. */
	.blog_window {
	height: 400px !important; 
	}

	.header img{
	width: 100%;
	height: 250px;
	}
  
	/* Compomemts page */
	.anim_box3{
	font-size: 1.1em !important;
	}

	/* Project Tool page, main header. */
	.page_header h1{
	font-size: 20px;
	}

	.main_subpage8 img{
	width: 60% !important;
	}

	.main_subpage8 p{
	margin: 20px 8% 0 8% !important;
	font-size: 15pt !important;
	}
	
	/* Compuer System page. */
	.main_subpage5{
	padding: 30px 15% !important;
	}
	
	/* Tables style */
	.tbl_animation tfoot,  .tbl_animation1 tfoot{
	  text-align: center;
	   letter-spacing: 2px;
	   font-size: 14px;
	   color: blue;
   }

	.tbl_animation th{
	font-size: 16pt !important;
	}

	.tbl_animation td{
		font-size: 12pt !important;
	}

	.tbl_animation1 th{
	font-size: 16pt !important;
	}

	.tbl_animation1 td{
		font-size: 14pt !important;
	}	
	
	/* About Page */
	.main2About, .mainAbout{
	 padding: 0 18% 20px 18% !important;
	}

	/* Find Us */
	form{
	margin: 0 22% !important;
	}

	#map{
		width: 60% !important;
	}
	
	.page_header{
    background-size: 100% 100% !important;
	}

	.formHeader{
		margin: 50px 20% 6px 20% !important;
	}
	
	/* Windows linux */	
	 .Software_Uti {
	margin: 50px 10% !important;
	}
	
}

/* This block of code would be executed whenever the screen size has reached less or 600px. */
@media screen and (max-width: 670px) { 
	
	/* all pages. */
	.links{
		float: none !important; /* Remove the floating where elements becomes blocks over each other. */
		width: 100% !important;
		font-size: 16px;
		font-weight: 800;
	}
  
	.navigation h1{
	  width: 100%;
	  font-size: 29px;
	  border-bottom: 2px solid grey;;
	}
 
  .header{	
	height: 180px;
	}

	.header img{
	height: 180px;
	}

	/* Excel style */	
	.content_subpage3 h2{
	font-size: 16pt !important;
	}

	.content_subpage3 h3{
	font-size: 14pt !important;
	margin-bottom: 15px !important;
	}
	
	.content_subpage3 p{
	font-size: 18px !important;
	margin-top: 18px !important;
	}

	.content_subpage3 img{
	width: 80% !important;
	}

	/* Oroject Tools */
	.page_header h1{
	font-size: 19px !important;
	margin: 50px 20% !important;
	}

	.main_subpage8 p{
	margin: 20px 10% 0 10% !important;
	}

	.main_subpage8 img{
	width: 80% !important;
	}

	/* Computer System style */

	.main_subpage5{
	padding: 30px 4% !important;
	}

	/* Hardware Page */
	.main_subpage_sub2{
	padding: 15px 0 !important;
    }

	/* About Page */
	.main2About, .mainAbout{
	 padding: 0 10% 20px 10% !important;
	}

	.imag_ram div{
	margin-left: 4px !important;
	margin-right: 4px !important;
	padding: 18px !important;
	font-size: 18pt !important;
	}

	/* Find Us Page */
	form{
	margin: 0 5% !important;
	}

	#map{
		width: 80% !important;
	}
	
	.loginborder label{
	color: white !important;
	text-shadow: 1px 1px 13px #6600ff !important;
	}	

	.formHeader{
		margin: 50px 8% 6px 8% !important;
		text-shadow: 1px 1px 13px #6600ff !important;
	}

	/* Hierarchy Page */
	#content_SiteMap{
	padding: 0 3px !important;
	}

	/* Windows linux */	
	 .Software_Uti {
	margin: 50px 4% !important;
	}
 
}

/* This block of code would be executed whenever the screen size has reached less or 400px. */
@media screen and (max-width: 400px) {
	.navigation h1{
	  font-size: 25px;
	}
	
/* Computer System */
	.page_header h1{
	font-size: 14px !important;
	margin: 50px 16% !important;
	}

	.main_subpage5{
	padding: 30px 3% !important;
	}

/* Hardware page  */ 
	.anim_box3{
	width: 80%;
	padding: 15px 5px 10px 5px !important;
	}

/* About Page */
	.main2About, .mainAbout{
	 padding: 0 15% 20px 15% !important;
	}

/* Find Us Page */
	form{
	margin: 0 10% !important;
	}
	
	#map{
		width: 90% !important;;
	}
	
	
}

/*FOOTER----------------------------------------------------------------------------------------------------*/

.footer {
	margin-top: 4px;
	background: grey;
	padding: 14px 0 0 0;
	bottom: 0 !important;
	box-shadow: 0 -5px 20px red;
}

.footer p{
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}

.btn_contact {
	width: 150px;
	margin: 5px auto ;
	text-align: center;
	text-transform: uppercase;
	border: 3px solid #FFFFFF;
	animation-name: example;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	-webkit-animation-name: example;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: example;
	-moz-animation-duration: 10s;
	-moz-animation-iteration-count: infinite;
	background-color:red; 
}

.btn_contact a{
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	text-decoration: none;
}

.btn_contact:hover {
	cursor: pointer;
	transform: scale(1.1);
}

/* This code will be executed in animation foramt, as here we set what should happen where colours must change. */
@keyframes example{
	0%   {background-color:red; border-radius: 18px; }
  50%  {background-color:blue; border-radius: 13px; }
  75%  {background-color:green; border-radius: 14px; }
  100% {background-color:red; border-radius:16px; }
}

@-webkit-keyframes example{
	0%   {background-color:red; border-radius: 18px; }
  50%  {background-color:blue; border-radius: 13px; }
  75%  {background-color:green; border-radius: 14px; }
  100% {background-color:red; border-radius:16px; }
}

@-moz-keyframes example{
	0%   {background-color:red; border-radius: 18px; }
  50%  {background-color:blue; border-radius: 13px; }
  75%  {background-color:green; border-radius: 14px; }
  100% {background-color:red; border-radius:16px; }
}

.copyright {
	text-align: center;
	padding: 8px 0;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
}

.copyright span{
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}

/* -------------------------------------------- Sub Pages --------------------------------------------------------*/

#content_subpage {  
  display: flex;
  flex-wrap: wrap;
  top: 0;
  border-top: 2px solid #aaa;
}

.main_subpage{   
  flex: 100%;
  background-color: grey;
  padding: 16px 3px;
  margin-bottom: 10px;
  overflow: hidden;
}

.main_subpage1{   
  flex: 100%;
  background-color: #3b2b2b;
  margin-bottom: 10px;
  overflow: hidden;
}

/* --- Tabels Creation --- */
.tbl_animation{
	margin: 10px auto;
	border: 0.5px solid black;
	background-color: #e6e6e6;
	width:90%;
	box-shadow: -6px -6px 9px grey;
}

.tbl_animation1{
	margin: 50px auto;
	border: 0.5px solid black;
	background-color: #e8f5f5;
	width: 80% !important;
	box-shadow: -6px -6px 9px grey;
}

.table_head{
	color: white;
	font-size: 35pt !important; 
	text-shadow: 2px -2px blue;
	font-family: Fira Sans;
	padding: 18px !important; 
	font-weight: bold;
}

.tbl_animation th, .tbl_animation1 th{
	user-select: text; /* Allowing users to select and copy only table headers. */
	border: 0.5px inset yellow;
	border-bottom: 0.5px inset black;
	background-color: #000;
	padding: 10px;
	font-size: 17pt;
	color: white;
	text-shadow: 2px -2px blue;
}

.tbl_animation td, .tbl_animation1 td{
	font-family: "Arial", serif, Gill Sans;
	border: 1px inset yellow;
	padding: 0px 4px;
	font-size: 16pt;
	letter-spacing: 2px; /* put two pixel empty gap between every two letters. */
}

 .tbl_animation tfoot, .tbl_animation1 tfoot{
	 text-align: center;
	 font-weight: bold;
	 letter-spacing: 18px;
	 font-variant: small-caps; /* all lowercase letters are converted to uppercase letter, nut with smaller font size. */
	 border-top: 0.5px inset black;
 } 
 
 .animation_type{
	 user-select: text;
	 text-align: center !important;
	 font-weight: bold;
	 background-color: #000;
	 color: white;
	 text-shadow: 2px -2px blue;
 }

 .Software_Uti {
	margin: 50px 15% 0 15%;
	box-shadow: 1px 1px 17px white;
	padding: 10px;
	font-size: 16pt;
 }
 
 /* apply red color on the year appears in the table footer section. */
.year{
	 color: red;
 }
 
/* ---------------------- File Formats Page */ 
.left_side, .right_side{
	flex: 43%;
	float: left;
	padding: 5%;
}

.anim_box1{
	width: 95%;
	padding: 15px 10px 20px 10px;
	border-bottom: 4px solid #6DC7D0;
	border-top: 8px solid #6DC7D0;
	background-color: yellow;
	border-radius: 19px;
	transform: rotate(4deg); /* rotate the element 4 degrees. */
	box-shadow: 5px -7px 2px grey;
}

.anim_box2{
	width: 95%;
	padding: 15px 10px 20px 10px;
	border-bottom: 4px solid #6DC7D0;
	border-top: 8px solid #6DC7D0;
	background-color: yellow;
	border-radius: 19px;
	transform: rotate(-4deg);
	box-shadow: -10px 8px 2px grey;
}

.anim_box2 h2, .anim_box1 h2{
	user-select: text;
	text-align: center;
}

.line_header{
	width: 95%;
	height: 160px;
	background: white;
	padding: 10px 0;
}

.line_header div{
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: blue;
	animation: pass 6s infinite;
	animation-direction: alternate; /* execute the animation at the starter point and again at the end back to start. */
	-webkit-animation: pass 6s infinite; /* would run the animation for 6 second for each round without stoping. */
	-webkit-animation-direction: alternate;
	-moz-animation: pass 6s infinite;
	-moz-animation-direction: alternate;
}

@keyframes pass {
  from {background-color: white; margin-top: 3px;}
  to {background-color: black; margin-top: 90px;}
}

@-webkit-keyframes pass {
  from {background-color: white; margin-top: 3px;}
  to {background-color: black; margin-top: 90px;}
}

@-moz-keyframes pass {
  from {background-color: white; margin-top: 3px;}
  to {background-color: black; margin-top: 90px;}
}

/* ---------------------- Excel Page */ 

.container3{
	background: rgba(128,0,255,0.2);
	overflow: hidden;
}

.header_title{
	color: red;
}

.content_subpage3{
	box-shadow: inset 1px 1px 20px white; /* inset argument tells to create interal shadow. */
	background-color: black;
	padding: 20px 12px;
	margin: 10px 6%;
}

.content_subpage3 div{
	width: 100%;
	background: white;
	overflow: hidden;
	margin-bottom: 12px;
	padding: 14px;
}

.content_subpage3 h2{
	margin-bottom: 10px;
	color: green;
	text-shadow: 1px 1px 13px red;
	font-family: Fira Sans;
	font-weight: bold;
	font-size: 22pt ;
	text-align: center;
}

.content_subpage3 h3{
	margin-bottom: 6px;
	color: black;
	text-shadow: 2px 2px  7px	red;
	font-family: Fira Sans;
	font-weight: bold;
	font-size: 20pt; 
}

.content_subpage3 p{
	width: 99%;
	font-size: 19px;
	margin-bottom: 40px;
	margin-left: 10px;
	font-family: Arial !important;
	letter-spacing: 2px;
}


.content_subpage3 hr{
	border-radius: 20px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	height: 5px;
}

.content_subpage3 img{
	margin-top: 0;
	margin-bottom: 10px;
	float: right;
	width: 30%;
	max-height: 300px;
	border-radius: 10%;
	box-shadow: 1px -1px 14px black;
}

.graph{
	float: none !important;
	margin-left: auto;
	margin-right: auto;
	width: 40% !important;
	max-height: 500px !important;
	display: block;
}


/* ---------------------- Hardware Page*/ 

#content_subpage_sub{
	overflow: hidden;
}

.anim_box3{
	width: 32.4%;
	padding: 15px 10px 10px 10px;
	border-bottom: 4px solid #6DC7D0;
	border-top: 8px solid #6DC7D0;
	background-color: yellow;
	border-radius: 19px;
	box-shadow: 5px -7px 2px grey;
	margin: 40px 0.75% 40px 0;
	font-size: 1.3em;
	float: right;
}

.anim_box3 img{
	margin: 2px auto;
	width: 100%;
	height: 200px;
}

/* ---------------------- Project Tools Page */ 

.page_header{
	width: 100%;
	height: 300px;
	border-bottom: 4px solid #6DC7D0;
	border-top: 4px solid #6DC7D0;
	background-image: url('images/project-gif.gif'); /* set gif file as background image. */
	border-radius: 3px;
	box-shadow: 5px -7px 2px grey;
	background-repeat: no-repeat; /* removes duplication. */
    background-size: 70% 100%;
	background-position: center;
}

.main_subpage8 {
	text-align: center;
}

.page_header h1{
	text-align: center;
	letter-spacing: 5px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5%;
	padding:  20px 25px;
	color: white;
	text-shadow: 1px 1px 8px red;
	margin: 50px 26%;
}

.main_subpage8 h3{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 40px;
}

.main_subpage8 h2{
	text-align: center;
	margin-top: 40px;
}

.main_subpage8 p{
	margin: 20px 30% 0 30%;
	text-align: left;
	font-size: 18pt;
}

.main_subpage8 img{
	margin-top: 10px;
	width: 40%;
}

.double_image{
	width: 20% !important;
}

.main_subpage8 hr{
	background-color: rgba(255, 102, 255, 0.2);
	height: 6px;
	margin-bottom: 20px;
	margin-top: 40px;
	box-shadow: 5px 0 8px rgba(255, 102, 255, 0.5);
	animation: expander 36s infinite;
	animation-direction: alternate;
	-webkit-animation: expander 36s infinite;
	-webkit-animation-direction: alternate;
	-moz-animation: expander 36s infinite;
	-moz-animation-direction: alternate;
}

/* allow the line to shrink and stretch horizontally. */
@keyframes expander {
  from {margin-left: 4%; margin-right: 4%;}
  to {margin-left: 40%; margin-right: 40%;}
}

@-webkit-keyframes expander {
  from {margin-left: 4%; margin-right: 4%;}
  to {margin-left: 40%; margin-right: 40%;}
}

@-moz-keyframes expander {
  from {margin-left: 4%; margin-right: 4%;}
  to {margin-left: 40%; margin-right: 40%;}
}

.divider{
	box-shadow: 5px -6px 14px rgba(212, 212, 170, 0.8);
	background-color: rgba(85, 85, 43, 0.2);
	margin-top: 70px;
	padding-bottom: 100px;
	padding-top: 30px;
}

.divider1{
	box-shadow: 5px -6px 14px rgba(187, 187, 119, 0.5);
	background-color: rgba(153, 102, 255, 0.2);
	padding-top: 30px;
}

.main_subpage8 ul{
	list-style-type: lower-roman;
}

.main_subpage8 li{
	text-align: left;
	margin: 20px 30% 0 31%;
}

.main_subpage8 a{
	text-decoration:  none;
	color: rgb(102, 153, 153);
}


/* ---------------------- Computer System Page */ 

.main_subpage5{
	padding: 30px 20%;
}

.page-fiveHeader {
  color: #e6e6e6;
  font-family: "Arvo", Candara ;
  font-weight: bold;
  text-shadow:
    -4px -3px 0 #222,
    3px -4px 0 #222,
    -3px 4px 0 blue,
    3px 3px 0 #222,
    4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
  line-height: 0.8em;
  letter-spacing: 0.2em;
  transform: scaleY(0.7); /* change the vertical size of element into less than usual. */
  margin-bottom: 50px;
  text-align: center;
  font-size: 49px;
}

.main_subpage5 h4{
	margin-top: 10px;
	color: red;
}

.cager{
	margin: 15px 0;
	border-top: 5px solid red;
	border-bottom: 5px solid red;
	border-radius: 8px 30% 30% 8px;
	padding: 4px 80px 15px 0;
	animation: waves 5s infinite;
	animation-direction: alternate;
	-webkit-animation: waves 5s infinite;
	-webkit-animation-direction: alternate;
	-moz-animation: waves 5s infinite;
	-moz-animation-direction: alternate;
}

/* increase both bottom and top right corners radius into 30% by changing the colour during process. */
@-webkit-keyframes waves {
  from {border-radius: 8px 30% 30% 8px;}
  to {border-radius: 8px; border-color: blue;}
}

@keyframes waves {
  from {border-radius: 8px 30% 30% 8px;}
  to {border-radius: 8px; border-color: blue;}
}

@-moz-keyframes waves {
  from {border-radius: 8px 30% 30% 8px;}
  to {border-radius: 8px; border-color: blue;}
}

.main_subpage5 p{
	margin-left: 16px;
	font-size: 1.2em;
}

.main_subpage5 h2{
	margin-bottom: 8px;
}

.main_subpage5 h3{
	margin-bottom: 8px;
	margin-top: 15px;
	color: blue;
}

.header_two{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 33px;
	letter-spacing: 2px;
	word-spacing: -4.2px; /* decrease the spacing between words. */
	color: rgba(255,255,255,0.6);
	font-weight: 700;
	text-decoration: none;
	font-style: italic;
	font-variant: small-caps;
	text-transform: capitalize; /* change the first letter of words into capitale. */
	text-align: center;
	margin-bottom: 50px;
	margin-top: 23px;
	text-shadow: 4px 4px 8px blue , 3px 2px 1px green, -2px 0 4px black;
}

.operating_system_link{
	text-decoration: none;
	border: 2px dotted green;
	border-radius: 8%;
	box-shadow: inset 1px 1px 10px black;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

/* -------------------------------------- About Page -------------------------------------- */

.container1{
	min-height: 100%;
}

 #about {   
    flex-direction: column;
	display: flex;
	top: 0;
	border-top: 2px solid #aaa;
	background: #070B03;
  }
  
  .mainAbout{
	 flex: 100%;
	 padding: 30px 27% 20px 27%;
	 margin-top: 20px;
}

.main2About{
	 flex: 100%;
	 padding: 0 35% 20px 35%;
}

.mainAbout img{
	 width: 100%; 
	 border-radius: 4%;
}

.uni{
	 color: gray; 
	 text-decoration: none;
}

figcaption{
	text-align: center;
}

.uni:active{
	 color: red;
}

.uni:hover{
	 color: yellow;
	 text-shadow: 0 0 7px red;
}

.main2About div{
	 width: 100%;
	 border-left: 1px solid red;
	 border-right: 1px solid red;
	 padding: 0 4px;
	 margin-top: 30px;
	 text-align: center;
	 color: white;
}

.imag_ram{
	flex: 100%;
	margin: 30px auto;
}

.imag_ram div{
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	padding: 25px;
	color: white;
	background: black;
	border-radius: 5px;
	box-shadow: inset 0 0 20px red;
	text-align: center;
	font-size: 20pt;
	font-family: "Arvo", Candara ;
	font-weight: bold;
	text-shadow: 0 0 12px blue;
	-webkit-animation: ram-move 5s infinite; 
    animation: ram-move 2s infinite;
	animation-direction: alternate;
    -webkit-animation-direction: alternate;
	-moz-animation: ram-move 2s infinite;
	-moz-animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes ram-move {
  from {transform: scale(1); transform: rotate(1deg);}
  to {transform: scale(1.2); transform: rotate(360deg);}
}

/* IE 9 */
@-moz-keyframes ram-move {
  from {transform: scale(1); transform: rotate(1deg);}
  to {transform: scale(1.2); transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes ram-move {
  from {transform: scale(1); transform: rotate(-12deg);}
  to {transform: scale(1.2); transform: rotate(12deg);}
}

/* -------------------------------------- FIND US -------------------------------------- */

.container3{
	background:rgba(58, 60, 64, 0.52);
	padding-bottom: 50px;
}

.formHeader{
		text-align: center;
		margin: 50px 28% 6px 28%;
		color: white;
		border-top: 1px solid white;
		padding-top: 14px;
		text-shadow: 1px 1px 13px red;
}

form{
	margin: 0 33%;
	text-align: left;
	font-weight: bold;
}

.loginborder {
	background: #34495e;
	border-radius: 10%;
	padding-top: 20px;
	box-shadow: 0 0 10px rgba(52,73,94);
}

.loginborder label{
	color: #000;
	text-shadow: 1px 1px 13px red;
}

.listbox {
border-radius: 15px;
color: blue;
}

#Username{
	margin-bottom: 10px;
	margin-left: 6px;
	font-size: 12pt;
}

.Password{
	margin-left: 1px;
	margin-bottom: 10px;
	font-size: 12pt;
}

.box {
border-radius: 6px;
margin-bottom: 10px;
text-align: center;
margin-left: 10px;
}

.cmntbox {
background-color: gray;
color: blue;
font-size: 12pt;
width: 100%;
height: 130px;
margin-top: 10px;
border-radius: 10px;
margin-bottom: 8px;
}

.btn {
	background: none;
	display: block;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #7befb2;
	border-radius: 25px;
	padding: 8px 10px;
	outline: none;
	color: white;
	font-size: 16px;
	-moz-transition: 2s;
	transition: 2s;
	-webkit-transition: 2s;
	cursor: pointer;
	width: 100px;
}

.btn:hover {
	background: #7befb2;
	color: black;
	font-weight: bold;
	}
	
	
	#map{
		width: 50%;
		height: 280px;	
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 60px;
		border-radius: 30%;
	}
	
/* -------------------------------------- Hierarchy Page -------------------------------------- */

.containerSiteMap{
	background-color: black;
}

#content_SiteMap{
	width: 100%;
	margin-top: 70px;
	margin-bottom: 100px;
	padding: 0 20px;
}

#content_SiteMap img{
	width: 100%;
}


/* By Raman Suliman */














	